<div class="md-toolbar-tools">

	<md-button class="md-icon-button" aria-label="Back" ng-disabled="false" md-ripple-size="full" mn-touch secure-tap="backBtn()">
		<md-icon md-svg-icon="./res/assets/ui/round-arrow_back-24px.svg"></md-icon>
	</md-button>

	<div md-truncate flex class="navbar-brand navbar-brand-left">Edit Tweet</div>

	<md-button 
		class="md-icon-button" 
		aria-label="Delete tweet" 
		ng-disabled="false" 
		md-ripple-size="full" 
		mn-touch 
		secure-tap="deleteCurrent()">
	<md-icon md-svg-icon="./res/assets/ui/round-delete-24px.svg"></md-icon>
	</md-button>
	
	</div>